body {
  background: #333;
}

.cat {
  width: 32px;
  height: 32px;
  position: fixed;
  pointer-events: none;
  image-rendering: pixelated;
  z-index: 20010;
  transform: translate(-50%, -50%);
}

.prop {
  z-index: 20005;
  position: fixed;
  pointer-events: none;
  image-rendering: pixelated;
}
