body {
  background: #333;
}

.cat {
  width: 32px;
  height: 32px;
  position: fixed;
  pointer-events: none;
  image-rendering: pixelated;
  transform: translate(-50%, -50%);
}

.prop {
  position: fixed;
  pointer-events: none;
  image-rendering: pixelated;
}
.prop > img {
  user-select: none;
}

.spot-marker {
  position: absolute;
  background: black;
  border: 2px solid white;
  border-radius: 3px;
  width: 4px;
  height: 4px;
  transform: translate(-50%, -50%);
}

.inventory {
  position: absolute;
  bottom: 0;
  border: 1px solid red;
}

.inventory > .prop {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #777;
  border-radius: 2px;
  width: 64px;
  height: 64px;
  padding: 4px;
  overflow: hidden;
  position: relative;
  pointer-events: auto;
}

.inventory > .prop > img {
  max-width: 60px;
  max-height: 60px;
}
